{% extends 'base.html' %}

{% block title %}{{ movie['title'] }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-4">
      {% if movie['poster'] %}
        <img src="{{ url_for('static', filename='uploads/' + movie['poster']) }}" class="img-fluid">
      {% endif %}
    </div>
    <div class="col-sm-offset-1"></div>
    <div class="col-sm-7">
      <h1 class="mt-5 mb-3">{{ movie['title'] }}</h1>
      <div class="rating">
        <span data-stars="5">☆</span>
        <span data-stars="4">☆</span>
        <span data-stars="3">☆</span>
        <span data-stars="2">☆</span>
        <span data-stars="1">☆</span>
      </div>
      <small id="message"></small>
      {% if not rating %}
        <p id="rating">No rating yet.</p>
      {% else %}
      <p id="rating">{{ rating }}/5.0</p>
      {% endif %}
      <p><strong>Released:</strong> {{ movie['released'] }}</p>
      <p><strong>Rating:</strong> {{ movie['age_rating'] }}</p>
      <p>{{ movie['synopsis'] }}</p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      var alread_clicked = false;
      $('.rating span').click(function() {
        if (alread_clicked == false) {
          alread_clicked = true;
          $.ajax({
            url: "{{ url_for('movies.view', id=movie['id']) }}",
            type: 'POST',
            data: {'rating': $(this).data().stars},
            success: function(text) {
              response = text;
            }
          }).done(function() {
            if (response.error) {
              $('#message').text(response.error);
            } else {
              $("#rating").text(response.rating.toFixed(1) + '/5.0');
              $('#message').text(response.msg);
            }
          })
        }
      });
    });
  </script>
{% endblock %}
